In [85]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [86]:
race_list = pd.read_csv('race_list.csv')

In [87]:
unique_locations = race_list["location"].drop_duplicates().reset_index(drop=True)
print(len(unique_locations))
print(unique_locations)

52
0        Great Britain
1               Monaco
2     Indianapolis 500
3          Switzerland
4              Belgium
5               France
6                Italy
7              Germany
8                Spain
9          Netherlands
10           Argentina
11             Pescara
12            Portugal
13             Morocco
14       United States
15        South Africa
16              Mexico
17             Austria
18              Canada
19              Brazil
20              Sweden
21            USA West
22            USA East
23               Japan
24          San Marino
25           Las Vegas
26             Detroit
27              Europe
28              Dallas
29           Australia
30             Hungary
31             Pacific
32          Luxembourg
33            Malaysia
34             Bahrain
35               China
36              Turkey
37           Singapore
38           Abu Dhabi
39         South Korea
40               India
41              Russia
42          Azerbaijan
43              Styria
44    70th Anniversary
45             Tuscany
46               Eifel
47      Emilia Romagna
48              Sakhir
49               Qatar
50        Saudi Arabia
51               Miami
Name: location, dtype: object

In [88]:
countries = [
    'United Kingdom',
    'Monaco',
    'United States',
    'Switzerland',
    'Belgium',
    'France',
    'Italy',
    'Germany',
    'Spain',
    'Netherlands',
    'Argentina',
    'Italy',
    'Portugal',
    'Morocco',
    'United States',
    'South Africa',
    'Mexico',
    'Austria',
    'Canada',
    'Brazil',
    'Sweden',
    'United States',
    'United States',
    'Japan',
    'Italy',
    'United States',
    'United States',
    'Spain',
    'United States',
    'Australia',
    'Hungary',
    'Japan',
    'Luxembourg',
    'Malaysia',
    'Bahrain',
    'China',
    'Turkey',
    'Singapore',
    'United Arab Emirates',
    'South Korea',
    'India',
    'Russia',
    'Azerbaijan',
    'Austria',
    'United Kingdom',
    'Italy',
    'Germany',
    'Italy',
    'Bahrain',
    'Qatar',
    'Saudi Arabia',
    'United States'
]

In [89]:
print(len(countries))

52

In [90]:
coordinates_url = "https://developers.google.com/public-data/docs/canonical/countries_csv"
response = requests.get(coordinates_url)
soup = BeautifulSoup(response.text, 'html.parser')
longitudes = []
latitudes = []

for i, country in enumerate(countries):
  td_tag = soup.find('td', text=country)
  if td_tag:
    longitude_tag = td_tag.find_previous_sibling()
    latitude_tag = longitude_tag.find_previous_sibling()
    longitudes.append(longitude_tag.text)
    latitudes.append(latitude_tag.text)
  else:
    print(countries[i])

/var/folders/d1/vbsd1tv103g96pjdcz4ljk0r0000gn/T/ipykernel_23684/1838390782.py:8: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  td_tag = soup.find('td', text=country)

In [91]:
print((latitudes))
print((longitudes))

['55.378051', '43.750298', '37.09024', '46.818188', '50.503887', '46.227638', '41.87194', '51.165691', '40.463667', '52.132633', '-38.416097', '41.87194', '39.399872', '31.791702', '37.09024', '-30.559482', '23.634501', '47.516231', '56.130366', '-14.235004', '60.128161', '37.09024', '37.09024', '36.204824', '41.87194', '37.09024', '37.09024', '40.463667', '37.09024', '-25.274398', '47.162494', '36.204824', '49.815273', '4.210484', '25.930414', '35.86166', '38.963745', '1.352083', '23.424076', '35.907757', '20.593684', '61.52401', '40.143105', '47.516231', '55.378051', '41.87194', '51.165691', '41.87194', '25.930414', '25.354826', '23.885942', '37.09024']
['-3.435973', '7.412841', '-95.712891', '8.227512', '4.469936', '2.213749', '12.56738', '10.451526', '-3.74922', '5.291266', '-63.616672', '12.56738', '-8.224454', '-7.09262', '-95.712891', '22.937506', '-102.552784', '14.550072', '-106.346771', '-51.92528', '18.643501', '-95.712891', '-95.712891', '138.252924', '12.56738', '-95.712891', '-95.712891', '-3.74922', '-95.712891', '133.775136', '19.503304', '138.252924', '6.129583', '101.975766', '50.637772', '104.195397', '35.243322', '103.819836', '53.847818', '127.766922', '78.96288', '105.318756', '47.576927', '14.550072', '-3.435973', '12.56738', '10.451526', '12.56738', '50.637772', '51.183884', '45.079162', '-95.712891']

In [92]:
coordinates = pd.DataFrame()
coordinates['location'] = unique_locations
coordinates['latitude'] = latitudes
coordinates['longitude'] = longitudes

In [93]:
print(coordinates)

            location    latitude    longitude
0      Great Britain   55.378051    -3.435973
1             Monaco   43.750298     7.412841
2   Indianapolis 500    37.09024   -95.712891
3        Switzerland   46.818188     8.227512
4            Belgium   50.503887     4.469936
5             France   46.227638     2.213749
6              Italy    41.87194     12.56738
7            Germany   51.165691    10.451526
8              Spain   40.463667     -3.74922
9        Netherlands   52.132633     5.291266
10         Argentina  -38.416097   -63.616672
11           Pescara    41.87194     12.56738
12          Portugal   39.399872    -8.224454
13           Morocco   31.791702     -7.09262
14     United States    37.09024   -95.712891
15      South Africa  -30.559482    22.937506
16            Mexico   23.634501  -102.552784
17           Austria   47.516231    14.550072
18            Canada   56.130366  -106.346771
19            Brazil  -14.235004    -51.92528
20            Sweden   60.128161    18.643501
21          USA West    37.09024   -95.712891
22          USA East    37.09024   -95.712891
23             Japan   36.204824   138.252924
24        San Marino    41.87194     12.56738
25         Las Vegas    37.09024   -95.712891
26           Detroit    37.09024   -95.712891
27            Europe   40.463667     -3.74922
28            Dallas    37.09024   -95.712891
29         Australia  -25.274398   133.775136
30           Hungary   47.162494    19.503304
31           Pacific   36.204824   138.252924
32        Luxembourg   49.815273     6.129583
33          Malaysia    4.210484   101.975766
34           Bahrain   25.930414    50.637772
35             China    35.86166   104.195397
36            Turkey   38.963745    35.243322
37         Singapore    1.352083   103.819836
38         Abu Dhabi   23.424076    53.847818
39       South Korea   35.907757   127.766922
40             India   20.593684     78.96288
41            Russia    61.52401   105.318756
42        Azerbaijan   40.143105    47.576927
43            Styria   47.516231    14.550072
44  70th Anniversary   55.378051    -3.435973
45           Tuscany    41.87194     12.56738
46             Eifel   51.165691    10.451526
47    Emilia Romagna    41.87194     12.56738
48            Sakhir   25.930414    50.637772
49             Qatar   25.354826    51.183884
50      Saudi Arabia   23.885942    45.079162
51             Miami    37.09024   -95.712891

In [94]:
race_data = pd.read_csv('full_race_data.csv')

In [95]:
full_race_data = race_data.merge(coordinates, on=['location'], how='outer')
full_race_data.to_csv('/Users/anirudhkrishna/GitHub/FormulaData/full_race_data.csv', index=False)