In [2]:
import pandas as pd
import gdown
import requests

In [3]:
df = pd.read_csv('/Users/anirudhkrishna/GitHub/FormulaData/csv-data/cleaned_race_data.csv')

In [4]:
string_columns = df.select_dtypes(include='object').columns.tolist()
int_columns = df.select_dtypes(include='int64').columns.tolist()
float_columns = df.select_dtypes(include='float64').columns.tolist()

print(float_columns)

['net_positions_gained', 'fp1_position', 'fp2_position', 'fp3_position', 'fastest_lap_position', 'fastest_lap_number', 'latitude', 'longitude']

In [5]:
drivers_and_constructors = df[['driver_name', 'constructor_name']].drop_duplicates(subset=['driver_name', 'constructor_name'])

In [6]:
circuit_details = df[['location', 'latitude', 'longitude', 'circuit_length', 'circuit_full_name']].drop_duplicates(subset=['circuit_full_name'])

In [7]:
print(circuit_details)

               location   latitude   longitude           circuit_length  \
0         Great Britain  55.378051   -3.435973      4.649 km (2.889 mi)
23               Monaco  43.750298    7.412841   3.180 km (1.976 miles)
42     Indianapolis 500  37.090240  -95.712891     4.023 km (2.5 miles)
78          Switzerland  46.818188    8.227512    7.28 km (4.524 miles)
96              Belgium  50.503887    4.469936  14.120 km (8.825 miles)
...                 ...        ...         ...                      ...
24182         Abu Dhabi  23.424076   53.847818   5.281 km (3.281 miles)
24222      Saudi Arabia  23.885942   45.079162   6.174 km (3.836 miles)
24242         Australia -25.274398  133.775136   5.278 km (3.280 miles)
24322             Spain  40.463667   -3.749220   4.657 km (2.894 miles)
24342            Canada  56.130366 -106.346771   4.361 km (2.710 miles)

                                       circuit_full_name
0               Silverstone Circuit Silverstone, England
23                                     Circuit de Monaco
42                           Indianapolis Motor Speedway
78                         Bremgarten, Bern, Switzerland
96                       Spa-Francorchamps, Spa, Belgium
...                                                  ...
24182  Yas Marina Circuit Abu Dhabi, United Arab Emir...
24222       Jeddah Corniche Circuit Jeddah, Saudi Arabia
24242  Albert Park Circuit Melbourne, Victoria, Austr...
24322    Circuit de Barcelona-Catalunya, Montmeló, Spain
24342  Circuit Gilles Villeneuve, Montréal, Quebec, C...

[295 rows x 5 columns]

In [8]:


# Specify the API URL
url = 'http://localhost:5000/api/f1'

# Define the query parameters
params = {
    'season': 2022,
    'weather': 'wet',
    'driver_name':'Fernando Alonso'
}

# Send the GET request
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    # Print the response content (JSON data)
    data = response.json()
    print(data)
else:
    # Print the error message
    print(f'Request failed with status code {response.status_code}')

Request failed with status code 403

In [9]:
import gdown
import pandas as pd

# Google Drive file ID
file_id = '1dVKzWsdiImuWDDQ9CnRFSHK0Lcr_xK6P'

# Download the CSV file from Google Drive
url = f'https://drive.google.com/uc?id={file_id}'
output = 'data.csv'
gdown.download(url, output, quiet=False)

# Read the CSV file into a DataFrame
df = pd.read_csv(output)

# Print the DataFrame
print(df)

Downloading...
From: https://drive.google.com/uc?id=1dVKzWsdiImuWDDQ9CnRFSHK0Lcr_xK6P
To: /Users/anirudhkrishna/GitHub/FormulaData/api/data.csv
100%|██████████| 6.34M/6.34M [00:00<00:00, 8.41MB/s]

       season  round       location weather          date  \
0        1950      1  Great Britain     dry  13 May, 1950
1        1950      1  Great Britain     dry  13 May, 1950
2        1950      1  Great Britain     dry  13 May, 1950
3        1950      1  Great Britain     dry  13 May, 1950
4        1950      1  Great Britain     dry  13 May, 1950
...       ...    ...            ...     ...           ...
24397    2023     10  Great Britain  cloudy  9 July, 2023
24398    2023     10  Great Britain  cloudy  9 July, 2023
24399    2023     10  Great Britain  cloudy  9 July, 2023
24400    2023     10  Great Britain  cloudy  9 July, 2023
24401    2023     10  Great Britain  cloudy  9 July, 2023

      race_finishing_position            driver_name       constructor_name  \
0                           1            Nino Farina             Alfa Romeo
1                           2          Luigi Fagioli             Alfa Romeo
2                           3            Reg Parnell             Alfa Romeo
3                           4  Yves Giraud-Cabantous            Talbot-Lago
4                           5           Louis Rosier            Talbot-Lago
...                       ...                    ...                    ...
24397                      16           Yuki Tsunoda  AlphaTauri Honda RBPT
24398                      17          Nyck De Vries  AlphaTauri Honda RBPT
24399                      18           Pierre Gasly         Alpine Renault
24400                      NC        Kevin Magnussen           Haas Ferrari
24401                      NC           Esteban Ocon         Alpine Renault

       car_number  net_positions_gained  ...  fp2_position  fp3_position  \
0               2                   NaN  ...           NaN           NaN
1               3                   NaN  ...           NaN           NaN
2               4                   NaN  ...           NaN           NaN
3              14                   NaN  ...           NaN           NaN
4              15                   NaN  ...           NaN           NaN
...           ...                   ...  ...           ...           ...
24397          22                   0.0  ...          18.0          10.0
24398          21                   1.0  ...          19.0          11.0
24399          10                  -8.0  ...           8.0           4.0
24400          20                  -1.0  ...          17.0          15.0
24401          31                  -7.0  ...          13.0          16.0

      fastest_lap_position  fastest_lap_number fastest_lap_time  \
0                      1.0                 2.0         1:50.600
1                      NaN                 NaN              NaN
2                      NaN                 NaN              NaN
3                      NaN                 NaN              NaN
4                      NaN                 NaN              NaN
...                    ...                 ...              ...
24397                 17.0                48.0         1:32.084
24398                 18.0                48.0         1:32.353
24399                 12.0                42.0         1:31.539
24400                 19.0                29.0         1:33.356
24401                 20.0                 4.0         1:33.941

                                     circuit_full_name  \
0             Silverstone Circuit Silverstone, England
1             Silverstone Circuit Silverstone, England
2             Silverstone Circuit Silverstone, England
3             Silverstone Circuit Silverstone, England
4             Silverstone Circuit Silverstone, England
...                                                ...
24397  Silverstone Circuit Silverstone, United Kingdom
24398  Silverstone Circuit Silverstone, United Kingdom
24399  Silverstone Circuit Silverstone, United Kingdom
24400  Silverstone Circuit Silverstone, United Kingdom
24401  Silverstone Circuit Silverstone, United Kingdom

               circuit_length   latitude  longitude  \
0         4.649 km (2.889 mi)  55.378051  -3.435973
1         4.649 km (2.889 mi)  55.378051  -3.435973
2         4.649 km (2.889 mi)  55.378051  -3.435973
3         4.649 km (2.889 mi)  55.378051  -3.435973
4         4.649 km (2.889 mi)  55.378051  -3.435973
...                       ...        ...        ...
24397  5.891 km (3.660 miles)  55.378051  -3.435973
24398  5.891 km (3.660 miles)  55.378051  -3.435973
24399  5.891 km (3.660 miles)  55.378051  -3.435973
24400  5.891 km (3.660 miles)  55.378051  -3.435973
24401  5.891 km (3.660 miles)  55.378051  -3.435973

                                          wikipedia_link
0      https://en.wikipedia.org/wiki/1950_British_Gra...
1      https://en.wikipedia.org/wiki/1950_British_Gra...
2      https://en.wikipedia.org/wiki/1950_British_Gra...
3      https://en.wikipedia.org/wiki/1950_British_Gra...
4      https://en.wikipedia.org/wiki/1950_British_Gra...
...                                                  ...
24397  https://en.wikipedia.org/wiki/2023_British_Gra...
24398  https://en.wikipedia.org/wiki/2023_British_Gra...
24399  https://en.wikipedia.org/wiki/2023_British_Gra...
24400  https://en.wikipedia.org/wiki/2023_British_Gra...
24401  https://en.wikipedia.org/wiki/2023_British_Gra...

[24402 rows x 27 columns]

In [12]:
key_data = df[['season', 'round', 'location', 'weather', 'driver_name', 'constructor_name', 'race_finishing_position', 'grid_position', 'points']]